<% if notice %>
  <span class="custom_message custom_notice">
    <p><%= notice %></p>
  </span>
<% end %>

<% if alert %>
  <span class="custom_message custom_alert">
    <p><%= alert %></p>
  </span>
<% end %>
