:root {
  --codeplay_body: rgb(26, 26, 26);
  --codeplay_header: rgb(71, 71, 71);
  --codeplay_title: rgb(255, 102, 0);
  --codeplay_active_link: rgb(60, 255, 0);
  --item_background: rgb(14, 14, 14);
  --codeplay_message_background: rgba(0, 0, 0, 0.514);
  --codeplay_message_text: rgb(255, 255, 255);
  --codeplay_alert_background: rgb(255, 0, 0);
  --codeplay_alert_text: rgb(255, 255, 255);
  --codeplay_notice_background: rgba(81, 255, 0, 0.849);
  --codeplay_notice_text: rgb(255, 255, 255);
}